.thumbnail {
	height: 300px;
	margin-bottom: 20px;
	margin-top: 20px;
	object-fit: cover;
	width: 300px;
}

.thumbnail:hover {
	filter: brightness(70%);
}

@media (max-width: 450px) {
	.thumbnail {
		width: 90vw;
		height: 90vw;
	}
}

.album-container {
	display: grid;
	grid-template-columns: 20% 1fr 20%;
	grid-template-rows: 80px 1fr;
	height: 100%;
	width: 100%;
}

@media (max-width: 800px) {
	.album-container {
		grid-template-columns: 5% 1fr 5%;
		grid-template-rows: 80px 1fr;
		height: 100%;
		width: 100%;
	}
}

.album {
	align-items: baseline;
	column-gap: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-column: 2;
	grid-row: 2;
	justify-content: space-evenly;
}

.image-modal {
	align-items: baseline;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: flex;
	justify-content: flex-start;
	max-height: calc(100% - 80px);
	max-width: calc(100% - 80px);
	outline: none;
	overflow: auto;
	padding: 20px;
	position: absolute;
	-webkit-overflow-scrolling: 'touch';
}

@media (max-width: 800px) {
	.image-modal img, .image-modal video {
		height: 100%;
		width: 100%;
	}

	.image-modal {
		max-height: 95%;
		max-width: 95%;
	}
}

.modal-overlay {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.75);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

